<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>

	<ui:composition template="/pages/private/index.xhtml">
		<ui:define name="conteudo">
			<p:panelGrid columns="1" styleClass="width600px">
				<h:inputHidden value="#{publicacaoEditMB.publicacao.id}" />
				<p:inputText placeholder="Título" required="true" label="Título"
					value="#{publicacaoEditMB.publicacao.titulo}"
					styleClass="width500px" maxlength="100" />
				<p:inputTextarea placeholder="Descrição" required="true"
					label="Descrição" value="#{publicacaoEditMB.publicacao.descricao}"
					styleClass="width500px" maxlength="500" row="10" cols="33" />
				<p:selectOneMenu label="Aluno" value="#{publicacaoEditMB.aluno.id}"
					styleClass="width500px" required="true">
					<f:selectItem itemLabel="Selecione uma opção" itemValue="" />
					<f:selectItems value="#{publicacaoEditMB.listaAluno}" var="aluno"
						itemLabel="#{aluno.nome}" itemValue="#{aluno.id}" />
				</p:selectOneMenu>
				<p:selectOneMenu label="Aluno"
					value="#{publicacaoEditMB.meioComunicacao.id}"
					styleClass="width500px" required="true">
					<f:selectItem itemLabel="Selecione uma opção" itemValue="" />
					<f:selectItems value="#{publicacaoEditMB.listaMeioComunicacao}"
						var="meioComunicacao" itemLabel="#{meioComunicacao.descricao}"
						itemValue="#{meioComunicacao.id}" />
				</p:selectOneMenu>
				<p:commandButton value="salvar"
					action="#{publicacaoEditMB.salvar()}" ajax="false" />
			</p:panelGrid>
		</ui:define>
	</ui:composition>
</h:body>
</html>
