<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>

	<ui:composition template="/pages/private/index.xhtml">
		<ui:define name="conteudo">
			<p:dataTable id="datatable" var="publicacao"
				value="#{publicacaoListMB.listaPublicacao}" paginator="true" rows="10">
				<p:column headerText="Título" sortBy="#{publicacao.titulo}">
					<h:outputText value="#{publicacao.titulo}" />
				</p:column>
				<p:column headerText="Descrição" sortBy="#{publicacao.descricao}">
					<h:outputText value="#{publicacao.descricao}" />
				</p:column>
				<p:column headerText="Aluno" sortBy="#{publicacao.aluno.nome}">
					<h:outputText value="#{publicacao.aluno.nome}" />
				</p:column>
				<p:column headerText="Professor" sortBy="#{publicacao.aluno.professor.nome}">
					<h:outputText value="#{publicacao.aluno.professor.nome}" />
				</p:column>
				<p:column headerText="Meio de Comunicação" sortBy="#{publicacao.meioComunicacao.descricao}">
					<h:outputText value="#{publicacao.meioComunicacao.descricao}" />
				</p:column>
				<p:column>
					<p:commandLink actionListener="#{publicacaoEditMB.preAlterar(publicacao)}"
						action="publicacaoEdit.xhtml">Alterar</p:commandLink>
				</p:column>
				<p:column>
					<p:commandLink update="datatable"
						actionListener="#{publicacaoListMB.excluir(publicacao)}">Excluir</p:commandLink>
				</p:column>
			</p:dataTable>
		</ui:define>
	</ui:composition>

</h:body>
</html>
