<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>

	<ui:composition template="/pages/private/index.xhtml">
		<ui:define name="conteudo">
			<p:panelGrid columns="1" styleClass="width600px">
				<h:inputHidden value="#{alunoEditMB.aluno.id}" />
				<h:inputHidden value="#{alunoEditMB.aluno.matricula}" />
				<p:inputMask placeholder="CPF" required="true" label="CPF"
					value="#{alunoEditMB.aluno.cpf}" styleClass="width500px"
					maxlength="14" mask="999.999.999-99" />
				<p:inputText placeholder="Nome" required="true" label="Nome"
					value="#{alunoEditMB.aluno.nome}" styleClass="width500px"
					maxlength="100" />
				<p:selectOneRadio label="Sexo" value="#{alunoEditMB.aluno.sexo}"
					required="true">
					<f:selectItems value="#{alunoEditMB.enumSexo}" var="sexo"
						itemLabel="#{sexo.toString()}" itemValue="#{sexo}" />
				</p:selectOneRadio>
				<p:panelGrid columns="1">
					<h:inputHidden value="#{alunoEditMB.endereco.id}" />
					<p:inputText placeholder="Logradouro" required="true"
						label="Logradouro" value="#{alunoEditMB.endereco.logradouro}" />
					<p:inputText placeholder="Bairro" required="true" label="Bairro"
						value="#{alunoEditMB.endereco.bairro}" />
					<p:inputText placeholder="Número" required="true" label="Número"
						value="#{alunoEditMB.endereco.numero}" />
					<p:selectOneRadio label="Cidade"
						value="#{alunoEditMB.endereco.cidade}" required="true">
						<f:selectItems value="#{alunoEditMB.enumCidade}" var="cidade"
							itemLabel="#{cidade.toString()}" itemValue="#{cidade}" />
					</p:selectOneRadio>
					<p:inputText placeholder="Estado" required="true" label="Estado"
						value="#{alunoEditMB.endereco.estado}" />
				</p:panelGrid>
				<p:panelGrid columns="1">
					<h:inputHidden value="#{alunoEditMB.telefone.id}" />
					<p:inputMask placeholder="DDD" required="true" label="DDD"
						value="#{alunoEditMB.telefone.ddd}" maxlength="3" mask="9?99" />
					<p:inputMask placeholder="Número" required="true" label="Número"
						value="#{alunoEditMB.telefone.fone}" maxlength="10"
						mask="9?999999999" />
				</p:panelGrid>
				<p:selectOneMenu label="
						Professor"
					value="#{alunoEditMB.professor.id}"
						styleClass="width500px" required="true">
						<f:selectItem itemLabel="Selecione uma opção" itemValue="" />
						<f:selectItems value="#{alunoEditMB.listaProfessor}"
							var="professor" itemLabel="#{professor.nome}"
							itemValue="#{professor.id}" />
						</p:selectOneMenu>
						<p:commandButton value="salvar" action="#{alunoEditMB.salvar()}"
							ajax="false" />
				</p:panelGrid>
		</ui:define>
	</ui:composition>
</h:body>
</html>
