<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>

	<ui:composition template="/pages/private/index.xhtml">
		<ui:define name="conteudo">
			<p:panelGrid columns="1" styleClass="width600px">
				<h:inputHidden value="#{professorEditMB.professor.id}" />
				<p:inputMask placeholder="CPF" required="true" label="CPF"
					value="#{professorEditMB.professor.cpf}" styleClass="width500px"
					maxlength="14" mask="999.999.999-99" />
				<p:inputText placeholder="Nome" required="true" label="Nome"
					value="#{professorEditMB.professor.nome}" styleClass="width500px"
					maxlength="100" />
				<p:selectOneRadio label="Sexo"
					value="#{professorEditMB.professor.sexo}" required="true">
					<f:selectItems value="#{professorEditMB.enumSexo}" var="sexo"
						itemLabel="#{sexo.toString()}" itemValue="#{sexo}" />
				</p:selectOneRadio>
				<p:panelGrid columns="1">
					<h:inputHidden value="#{professorEditMB.endereco.id}" />
					<p:inputText placeholder="Logradouro" required="true"
						label="Logradouro" value="#{professorEditMB.endereco.logradouro}" />
					<p:inputText placeholder="Bairro" required="true" label="Bairro"
						value="#{professorEditMB.endereco.bairro}" />
					<p:inputText placeholder="Número" required="true" label="Número"
						value="#{professorEditMB.endereco.numero}" />
					<p:selectOneRadio label="Cidade"
						value="#{professorEditMB.endereco.cidade}" required="true">
						<f:selectItems value="#{professorEditMB.enumCidade}" var="cidade"
							itemLabel="#{cidade.toString()}" itemValue="#{cidade}" />
					</p:selectOneRadio>
					<p:inputText placeholder="Estado" required="true" label="Estado"
						value="#{professorEditMB.endereco.estado}" />
				</p:panelGrid>
				<p:panelGrid columns="1">
					<h:inputHidden value="#{professorEditMB.telefone.id}" />
					<p:inputMask placeholder="DDD" required="true" label="DDD"
						value="#{professorEditMB.telefone.ddd}" maxlength="3" mask="9?99" />
					<p:inputMask placeholder="Número" required="true" label="Número"
						value="#{professorEditMB.telefone.fone}" maxlength="10"
						mask="9?999999999" />
				</p:panelGrid>
				<p:inputText placeholder="Instituição de Ensino" required="true"
					label="Instituição de Ensino"
					value="#{professorEditMB.professor.instituicaoEnsino}"
					styleClass="width500px" maxlength="30" />
				<p:inputMask placeholder="Data de Admissão" required="true"
					label="Data de Admissão"
					value="#{professorEditMB.professor.dataAdmissao}"
					styleClass="width500px" maxlength="30" mask="99/99/9999" />
				<p:selectOneMenu label="Titulação"
					value="#{professorEditMB.titulacao.id}" styleClass="width500px"
					required="true">
					<f:selectItem itemLabel="Selecione uma opção" itemValue="" />
					<f:selectItems value="#{professorEditMB.listaTitulacao}"
						var="titulacao" itemLabel="#{titulacao.titulo}"
						itemValue="#{titulacao.id}" />
				</p:selectOneMenu>
				<p:commandButton value="salvar" action="#{professorEditMB.salvar()}"
					ajax="false" />
			</p:panelGrid>
		</ui:define>
	</ui:composition>

</h:body>
</html>
