<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>

	<ui:composition template="/pages/private/index.xhtml">
		<ui:define name="conteudo">
			<p:dataTable id="datatable" var="professor"
				value="#{professorListMB.listaProfessor}" paginator="true" rows="10">
				<p:column headerText="CPF" sortBy="#{professor.cpf}">
					<h:outputText value="#{professor.cpf}" />
				</p:column>
				<p:column headerText="Nome" sortBy="#{professor.nome}">
					<h:outputText value="#{professor.nome}" />
				</p:column>
				<p:column headerText="Sexo" sortBy="#{professor.sexo}">
					<h:outputText value="#{professor.sexo}" />
				</p:column>
				<p:column headerText="Instituição de Ensino" sortBy="#{professor.instituicaoEnsino}">
					<h:outputText value="#{professor.instituicaoEnsino}" />
				</p:column>
				<p:column headerText="Data de Admissão" sortBy="#{professor.dataAdmissao}">
					<h:outputText value="#{professor.dataAdmissao}" />
				</p:column>
				<p:column headerText="Titulação" sortBy="#{professor.titulacao.titulo}">
					<h:outputText value="#{professor.titulacao.titulo}" />
				</p:column>
				<p:column>
					<p:commandLink
						actionListener="#{professorEditMB.preAlterar(professor)}"
						action="professorEdit.xhtml">Alterar</p:commandLink>
				</p:column>
				<p:column>
					<p:commandLink update="datatable"
						actionListener="#{professorListMB.excluir(professor)}">Excluir</p:commandLink>
				</p:column>
			</p:dataTable>
		</ui:define>
	</ui:composition>

</h:body>
</html>
